## MLOps Assignment 1

*   Name: Ratnesh Dubey
*   Roll No: M24CSA027

Q1. Print multiplication table from 1 to 10

In [4]:
table_of = 1
while(table_of < 11):
  print(f"table of {table_of}:", end = "\t")
  for num in range(1, 11):
    print(table_of * num, end = "\t")
  table_of += 1
  print("\n")

table of 1:	1	2	3	4	5	6	7	8	9	10

table of 2:	2	4	6	8	10	12	14	16	18	20

table of 3:	3	6	9	12	15	18	21	24	27	30

table of 4:	4	8	12	16	20	24	28	32	36	40

table of 5:	5	10	15	20	25	30	35	40	45	50

table of 6:	6	12	18	24	30	36	42	48	54	60

table of 7:	7	14	21	28	35	42	49	56	63	70

table of 8:	8	16	24	32	40	48	56	64	72	80

table of 9:	9	18	27	36	45	54	63	72	81	90

table of 10:	10	20	30	40	50	60	70	80	90	100

Q2. Given two lists, l1 and l2, write a program to create a third list l3 by picking an odd-index element from the list l1 and even index elements from the list l2.

In [5]:
l1 = [1, 3, 5, 7, 9]
l2 = [2, 4, 6, 8, 10, 12, 14, 16, 18, 20]
ans = []
i = 1
j = 0
while(i < len(l1) and j < len(l2)):
  ans.append(l1[i])
  ans.append(l2[j])
  i += 2
  j += 2
while(i < len(l1)):
  ans.append(l1[i])
  i += 2
while(j < len(l2)):
  ans.append(l2[j])
  j += 2
print(ans)

[3, 2, 7, 6, 10, 14, 18]

Q3. Print a this pattern(*)

    * * * * * * * *
      * * * * * * *
        * * * * * *
          * * * * *
            * * * *
              * * *
                * *
                  *

In [6]:
for i in range(7, -1, -1):
  pattern = ' ' * (7-i) + '*' * i
  print(pattern, end = '\n')

*******
 ******
  *****
   ****
    ***
     **
      *

Q4. Create a function named `exponent(base, exp)` that returns an integer representing the result of raising `base` to the power of `exp`.
`exp` is >0.

base = 5
exponent = 4

5 raises to the power of 4 is: 625
i.e. (5 *5 * 5 *5 = 625)

In [7]:
def exponent(base, exp):
  ans = 1
  for i in range(exp):
    ans *= base
  return ans
print(exponent(5, 4))

625

Q5. Create a file named test.txt and insert the following content into it.

    line1
    line2
    line3
    line4
    line5
    line6
    line7

Write a program which write all content of a given file (test.txt) into a new file by skipping line number 5 (line5)

In [8]:
import os

file = open('test.txt', 'w')
file.write('line1\nline2\nline3\nline4\nline5\nline6\nline7')
file.close()
file = open('test.txt', 'r')
print("File 1")
print(file.read(), '\n')
file.close()

def write_to_new_file(file1, file2, skipLineNumber):
  file1 = open(file1, 'r')
  file2 = open(file2, 'w')
  line_number = 1
  for line in file1:
    if(line_number != skipLineNumber):
      file2.write(line)
    line_number += 1
  file2.close()
  file1.close()

write_to_new_file('test.txt', 'new_test.txt', 5)
file = open('new_test.txt', 'r')
print("File 2")
print(file.read(), end = '\n\n')
file.close()
os.getcwd()
os.listdir('/content')

File 1
line1
line2
line3
line4
line5
line6
line7

File 2
line1
line2
line3
line4
line6
line7

['.config', 'new_test.txt', 'test.txt', 'sampleJson.json', 'sample_data']

Q6. Write a program which receives three names from the user in a single input() function call.

    Input: IIT JODHPUR RAJASTHAN

    Output:
    IIT
    JODHPUR
    RAJASTHAN

In [9]:
def receive_user_input():
  user_input = input("Enter three names: ")
  user_input_array = user_input.split()
  if(len(user_input_array) != 3):
    print("Invalid input, input exactly three names")
  else:
    for name in user_input_array:
      print(name)
receive_user_input()

Enter three names: IIT JODHPUR RAJASTHAN
IIT
JODHPUR
RAJASTHAN

Q7. Write a program to define a function called show_employee() with the following requirements:

*   It should take the employee's name and salary as input and display both.
*   If the salary is not provided in the function call, assign a default value of 9000 to it.

After passing:

showEmployee("Bill Gates", 12000)

showEmployee("Elon Musk")

It should print:

Name: Bill Gates salary: 12000

Name: Elon Musk salary: 9000

In [10]:
def showEmployee(name, salary = 9000):
  print(f"Name: {name} salary: {salary}")
showEmployee("Bill Gates", 12000)
showEmployee("Elon Musk")

Name: Bill Gates salary: 12000
Name: Elon Musk salary: 9000

Q8. Write a program to identify words that contain both letters and digits from a given input string.

    Given str1 = "Harry25 is Gryffindor Wizard50 and cursed"

    Output:
    Harry25
    Wizard50

In [11]:
def identify_words(str1):
  words = str1.split()
  for word in words:
    if(any(char.isdigit() for char in word) and any(char.isalpha() for char in word)):
      print(word)
identify_words("Harry25 is Gryffindor Wizard50 and cursed")

Harry25
Wizard50

Q9. Write a program to substitute each special character in the given string with the symbol #.

    Given: str1 = '/*Modi is @Politician & Melony!!'

    Output: ##Modi is #Politician # Melony##

In [12]:
def replace_special_characters(str1):
  for char in str1:
    if(not char.isalpha() and char != ' '):
      str1 = str1.replace(char, '#')
  return str1

print(replace_special_characters('/*Modi is @Politician & Melony!!'))

##Modi is #Politician # Melony##

Q10. Construct a Python set that displays elements from both lists as pairs.

    Given:

    first_list = [2, 3, 4, 5, 6, 7, 8]
    second_list = [4, 9, 16, 25, 36, 49, 64]
    Output: Result is  {(6, 36), (8, 64), (4, 16), (5, 25), (3, 9), (7, 49), (2, 4)}

In [13]:
def construct_set(first_list, second_list):
  ans = set()
  for num1 in first_list:
    for num2 in second_list:
      if(num1 * num1 == num2):
        ans.add((num1, num2))
  return ans


print(construct_set([2, 3, 4, 5, 6, 7, 8], [4, 9, 16, 25, 36, 49, 64]))

{(7, 49), (2, 4), (4, 16), (8, 64), (6, 36), (3, 9), (5, 25)}

Q11. Define two set A and B consisting of 5 elements. Now print the element after performing


      1.   A-B
      2.   B-A
      3.   A∩B
      4.   A∪B

In [14]:
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}
print(set1 - set2)
print(set2 - set1)
print(set1.intersection(set2))
print(set1.union(set2))

{1, 2, 3}
{8, 6, 7}
{4, 5}
{1, 2, 3, 4, 5, 6, 7, 8}

## Object Oriented Programming Exercise 1:

[Classes and Objects in Python](https://pynative.com/python-classes-and-objects/)

[Instance variables in Python](https://pynative.com/python-instance-variables/)

Q12. Create a Vehicle class with max_speed and mileage instance attributes.

In [15]:
class Vehicle:
  def __init__(self, max_speed, mileage):
    self.max_speed = max_speed
    self.mileage = mileage

car = Vehicle(240, 18)
print(car.max_speed, car.mileage)

240 18

Q13. Create a child class Bus that will inherit all of the variables and methods of the Vehicle class.

Create a Bus object that will inherit all of the variables and methods of the parent Vehicle class and display it.

In [16]:
class Bus(Vehicle):
  pass
School_bus = Bus(180, 12)
print(School_bus.max_speed, School_bus.mileage)

180 12

### Class Inheritance

Q14. Create a Bus class that inherits from the Vehicle class. Give the capacity argument of Bus.seating_capacity() a default value of 50.

Use the following code for your parent Vehicle class.

    class Vehicle:
      def __init__(self, name, max_speed, mileage):
          self.name = name
          self.max_speed = max_speed
          self.mileage = mileage

      def seating_capacity(self, capacity):
          return f"The seating capacity of a {self.name} is {capacity} passengers"

Expected Output:

    The seating capacity of a bus is 50 passengers

In [17]:
class Vehicle:
  def __init__(self, name, max_speed, mileage):
      self.name = name
      self.max_speed = max_speed
      self.mileage = mileage

  def seating_capacity(self, capacity):
      return f"The seating capacity of a {self.name} is {capacity} passengers"

class Bus(Vehicle):
  def seating_capacity(self):
    return super().seating_capacity(50)
bus = Bus('School bus', 120, 40)
print(bus.seating_capacity())

The seating capacity of a School bus is 50 passengers

Q15. Create a Bus subclass that inherits from the Vehicle class. By default, the fare for any vehicle is calculated as the seating capacity multiplied by 100. For instances of the Bus class, an additional 10% maintenance fee should be applied to the total fare. Therefore, the final fare for a bus instance will be the sum of the total fare plus an additional 10% of that total fare.

Note: The bus has a seating capacity of 50, so the final fare amount should be 5500. You need to override the fare() method from the Vehicle class in the Bus class.

Use the provided code for the parent Vehicle class. You should access the parent class within a method of the child class.

    class Vehicle:
      def __init__(self, name, mileage, capacity):
        self.name = name
        self.mileage = mileage
        self.capacity = capacity

      def fare(self):
        return self.capacity * 100

    class Bus(Vehicle):
        pass
        School_bus = Bus("School Volvo", 12, 50)
        print("Total Bus fare is:", School_bus.fare())

    Expected Output:

    Total Bus fare is: 5500.0

In [18]:
class Vehicle:
  def __init__(self, name, mileage, capacity):
    self.name = name
    self.mileage = mileage
    self.capacity = capacity

  def fare(self):
    return self.capacity * 100

class Bus(Vehicle):
    def fare(self):
      return super().fare() + 0.1 * super().fare()

School_bus = Bus("School Volvo", 12, 50)
print("Total Bus fare is:", School_bus.fare())

Total Bus fare is: 5500.0

### Python JSON Exercise
Refer: [Python JSON tutorials](https://pynative.com/python/json/)

Q16. Convert the following dictionary into JSON format

    data = {"key1" : "value1", "key2" : "value2"}
    data = {"key1" : "value1", "key2" : "value2"}

In [19]:
import json
data = {"key1" : "value1", "key2" : "value2"}
json_object = json.dumps(data)
print(json_object)

{"key1": "value1", "key2": "value2"}

Q17. Sort JSON keys in and write them into a file

    sampleJson = {"id" : 1, "name" : "value2", "age" : 29}

    {
          "age": 29,
          "id": 1,
          "name": "value2"
    }

In [20]:
sampleJson = {"id" : 1, "name" : "value2", "age" : 29}
json_file = open('sampleJson.json', 'w')
json.dump(sampleJson, json_file, indent = 2, sort_keys = True)
json_file.close()
json_file = open('sampleJson.json', 'r')
print(json_file.read())
json_file.close()

{
  "age": 29,
  "id": 1,
  "name": "value2"
}